<div class="author">
    <figure class="author-avatar"><img class="avatar-image" src="http://i.imgur.com/f6Qq5Gn.jpg"<!--"{{author.image}}"--> alt=""></figure>
    <p>,/p>
    <p class="author-bio">The world of</p>
    <header class="author-name">{{author.name}}</header>
    <p class="author-bio">{{author.bio}}</p>
    {{#if author.location}} <p><small>{{author.location}}</small></p> {{/if}}
</div>